body {
    margin: 20px;
    font-family: Segoe UI Emoji;
  
}

div {
    background-color: black;
    border: 5px solid skyblue;
    border-radius: 20px;
    color: white;
  margin-left:50px;
    text-align: center;
    width: 20%
}

h1 {
    background-color: black;


    color: white;
    text-align: center;
}

.image {
    width: 100%;
}

p {
    color: white;
    font-size: 25px;
}

.div {
    background-color: white;
  margin-top:20px;
    margin-left: 175px;
}
